section {
  margin-bottom: 32px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}
.bread {
  max-width: 520px;
}
.headline-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-top: 48px;
  padding-bottom: 48px;
}
.hours {
  padding-top: 32px;
}

.pass-headline {
  font-family: "Qwitcher Grypen";
  font-size: 160px;
}
