h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}
h3 {
  font-weight: bold;
  font-size: 24px;
}
ul {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
li {
  padding: 16px;
  margin: 16px;
  border: 2px solid lightgray;
  border-radius: 5px;
  flex: 200px;
  min-width: 40%;
}
.menu-text {
  font-style: italic;
  color: grey;
}
